<app-header></app-header>
<div class="container-azienda">
  <div class="row">
<div class="col">
  <div class="title2">
    <a name="azienda">
      <h3> LA NOSTRA AZIENDA</h3>
    </a>
  </div>
  <div class="title3">
    <h5> Startup di innovazione</h5>
  </div>
  <div class="textSite">
    Azienda Technologies è un fornitore leader di tecnologie e servizi all'avanguardia che offre soluzioni su misura per
    aziende di tutte le dimensioni.
</div>
<div class="col">
<img src="../../../../assets/img/pexels-pixabay-326461.jpg">
</div>
  </div>
<div class="clearfix"></div>
<div class="row">
<div class="col">
<img src="../../../../assets/img/pexels-pixabay-40879.jpg">
</div>
<div class="col">
<div class="paragr3">
  <div class="title2">
    <h3> LA NOSTRA TECNOLOGIA</h3>
  </div>
  <div class="title3">
    <h5>Soluzioni avanzate</h5>
  </div>
  <div class="textSite">
  Gli inverter costituiscono il cuore di un qualunque impianto fotovoltaico.
  <br>
  Hanno in carico la trasformazione dell’energia a corrente continua (DC) generata dai pannelli solari,
  in elettricità a corrente alternata (AC) utilizzabile per soddisfare le diverse esigenze sia 
  domestiche che industriali.
  <br>
  Le soluzioni tecnologiche sulle quali si basa la tipologia di un inverter sono essenzialmente due:
  <br>
  <br>
  - inverter di stringa che rappresentano la forma più antica di inverter solare
  <br>
  <br>
  - microinveter che rappresenta la tecnologia piu' innovativa 
  <br>
  <br>
  La mission di Azienda è proprio quella di sviluppare sia dal punto di vista hardware che dal punto di vista software 
  un innovativo microinverter e metterlo a sistema. 
  <br>Proporre una soluzione completa, sicura, efficiente e sopratutto economica per il "lato" solare degli impianti ad energia rinnovabile.
  </div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="paragr4">
  <div class="textSite">
    <div class="lista">
       Innovativo dal punto di vista tecnologico 
      
      <br>
     Sicuro
      
      <br>
     Efficiente
      
      <br>
    Flessibile
      
      <br>
       Manutenibile facilmente
      <br>
      Costo contenunto
  </div>
</div>
<div class="clearfix"></div>
<img src="../../../../assets/img/pexels-pixabay-356036.jpg">
</div>
<app-footer></app-footer>