<app-header></app-header>
<div class="container-home">
<div class="text-center">
  <img src="../../../../assets/img/pexels-jacob-colvin-1757363.jpg" style="width:1250px; height: 440px">
</div>
<div class="paragr1">
  <div class="titlee">
    SHOP TECHNOLOGIES
  </div>
  <div class="title2">
    <h3>Diamo valore alla Nostra Tecnologia </h3>
  </div>
  <div class="textSite">
    Shop Technologies è una società che fornisce soluzioni uniche di supporto alla transizione
    tecnologica ormai in corso.
    <br>
    Contattaci per richiedere informazioni o un appuntemento con un membro del nostro team.
  </div>
  <div class="row contact-row">
    <div class="contact-center">
      <div class="wrap-action-acc">
        <a href="mailto:info@info.it">
          <button type="submit" class="btn btn-light"> Contattaci </button>
        </a>
      </div>
    </div>
    <div class="image-map">
      <img src="../../../../assets/img/pexels-nastyasensei-335393.jpg" style="width:auto; height: 440px">
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>