<app-header></app-header>
<div class="container-home">
<div class="text-center">
  <img src="../../../../assets/img/pexels-jacob-colvin-1757363.jpg">
</div>
<div class="paragr1">
  <div class="titlee">
    Azienda TECHNOLOGIES
  </div>
  <div class="title2">
    <h3>Diamo valore alla Nostra Energia </h3>
  </div>
  <div class="textSite">
    Azienda Technologies è una società nata Ovunque che fornisce soluzioni uniche di supporto alla transizione
    energetica ormai in corso.
    La nostra attività parte dal "sole", fonte inesauribile di energia che ci piove addosso e che non vogliamo disperdere.
    <br>
    Contattaci per richiedere una demo o incontrare un membro del nostro team.
  </div>
  <div class="row contact-row">
    <div class="col-4">

    </div>
    <div class="col-4 contact-center">
      <div class="wrap-action-acc">
        <a href="mailto:info@info.it">
          <button type="submit" class="btn btn-light"> Contattaci </button>
        </a>
      </div>
    </div>
    <div class="col-4">
      <img src="../../../../assets/img/pexels-nastyasensei-335393.jpg">
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>