<div class='container-nav'>
<div class="row header-row">
  <div class="nav navbar-fixed-top">
    <div class="navbar-header">
    <span class="sr-only">
    </span>
  </div>
    <a class="navbar-brand" href="home">
      <img src="../../../../assets/img/icona.png" style="width: 90px; height: 90px;">
    </a>

    <div class="nav-itemss">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink='/home'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/azienda' >Chi Siamo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contatti'>Contatti</a>
      </li>
    </ul>
    </div>
   
  </div>
</div>
</div>