/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #DDDFD4;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.nav-item {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav-item:hover {
  background: #ddd;
  color: black;
}

.navbar-brand {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.nav-link {
  color: black;
}