.paragr5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.contatti {
  text-align: center;
  background-color: grey;
  width: auto; 
  margin-right: -25;
  padding-top: 20px;
  height: 210px;
}
.container-contatti {
    /*box-sizing: border-box;*/
    min-height: 80vh;
    padding: 0px;
}

.invio {
  padding-top: 30px;
}

.form-info {
margin: 50px auto;
padding: 25px;
overflow: hidden;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
.label {
  float: left;
  display: block;
}

.textarea {
  border-radius: 20px;
}
.invio{
   text-align: center;
}
.richiesta{
  padding-top: 50px;
  padding-left: 20px;
}