<app-header></app-header>
<div class="richiesta">
  <h3>Hai domande? compila il form sottostante!</h3>
</div>
<div class="row">
  <div class="col-4 contact-left">
    <div class="form-info">
      <form>
        <div class="form-group">
          <label for="nome"> Nome e Cognome </label>
          <input type="text" class="form-control" id="nome">
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email</label>

          <input type="email" class="form-control" id="email">
        </div>
        <br>
        <div class="form-group">
          <label for="oggetto">Oggetto</label>
          <input type="text" class="form-control" id="oggetto">
        </div>
        <br>
        <div class="form-group">
          <label for="text-message">Messaggio</label>
          <textarea name="messaggio" id="messaggio" cols="74" rows="10" ></textarea>
        </div>
        <div class="invio">
          <button class="btn btn-light" input type="submit" id="submit">Invio</button>
        </div>
      </form>
    </div>
    <div class="col-8">

    </div>
  </div>
</div>
<div class="container-contatti">
  <div class="paragr5">
    <div class="row">
      <div class="col">
        <div class="contatti">
          <a name="Contatti">
            <h3> CONTATTACI</h3>
          </a>
          <br>
          <p> Via Nuova 12 Ovunque </p>

          <p> info@info.it </p>

          <p> +39 000000000</p>
        </div>
      </div>
      <div class="col">
        <img src="../../../../assets/img/pexels-pixabay-277290.jpg">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>